@import './font_face.less';
.leftContent {
	position: absolute;
	left: 50px;
	top: 100px;
	width: 11%;
}
.category {
	list-style: none;
	ul {
		list-style: none;
	}
	em {
		font-family: weiboIconRegular;
	}
}
.up-category {
}