#app {
	width: 50%;
	background-color: #999;
}
.up-content {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}
.header {
	float: left;
	padding: 5px;
	width: 53px;
	height: 53px;
	border-radius: 50%;
}
.right-content {
	float: left;
	padding: 5px 10px;
	width: 75%;
	background-color: red;
	p {
		line-height: 14px;
	}
	.information {
		color: #38547b;
		font-size: 12px;
		font-family: 'Arial Microsoft YaHei';
		a {
			cursor: pointer;
		}
	}
	.content {
		font-size: 14px;
		line-height: 23px;
	}
	
}
.title a {
	margin-left: 3px;
	vertical-align: -2px;
	color: white;
	font-size: 14px;
	font-weight: 2px;
	text-decoration: none;
	.identifiction {
		width: 14px;
		height: 14px;
		background-image: url('../source/icon.png');
		background-position: 0 -75px;
	}
	.member {
		width: 16px;
		height: 14px;
		background-image: url('../source/icon.png');
		background-position: -25px -75px;
	}
	.camera {
		width: 16px;
		height: 14px;
		background-image: url('../source/icon.png');
		background-position: -25px -150px;
	}
}
.function-banner {
	width: 100%;
	height: 33px;
	list-style: none;
	li {
		display: block;
		width: 25%;
		height: 33px;
		float: left;
		font-color: 12px;
	}
}