.new-song-list {
	position: absolute;
	left: 200px;
	top: 200px;
	width: 230px;
	border: 1px solid black;
}
.list-title {
	width: 230px;
	line-height: 39px;
	font-size: 14px;
	font-weight: bold;
	color: #eb7350;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.list-rank {
	list-style: none;
	color: #333;
	padding: 0;
	margin: 0;
}